@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}
body {
    background: whitesmoke;
    font: normal 22pt Arial;
}
header {
    margin: 5px;
    text-align: center;
}
main {
    width: 95%;
    display: block;
    margin: auto;
    padding: 7px;
    background: white;
}
input {
    display: block;
    margin: auto;
    padding-top: 0px;
    font-size: 0.7em;
    width: 180px;
    height: 50px;
}
input:hover {
    background: black;
    color: blueviolet;
}
#res {
    padding-top: 5px;
    text-align: center;
}